# Dependencies
node_modules/

# Production Build
dist/

# Environment Variables
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# VS Code
.vscode/

# JetBrains
.idea/

# OS Files
.DS_Store
Thumbs.db

# Cache
.vite/